@using Microsoft.Ajax.Utilities
@model SinosPark.Models.Aluno
@{
    ViewBag.Title = @Resource.Label_Delete;
}

<h2>@Resource.Label_Delete</h2>

<h3>@Resource.Confirm_Delete</h3>
<div>
    <h4>Aluno</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CPF)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CPF)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Matricula)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Matricula)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ValorSaldo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ValorSaldo)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="@Resource.Label_Delete" class="btn btn-default" /> |
            @Html.ActionLink(@Resource.Label_BackToList, "Index")
        </div>
    }
</div>
